---
BasedOnStyle: Microsoft

AlignArrayOfStructures: Right
AlignConsecutiveAssignments:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: false

AlignTrailingComments:
  Kind: Always
  OverEmptyLines: 2
